<!DOCTYPE html>
<html>
<head>
    <title>Sanity Check in Space - Page 4 (Arrakis)</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Welcome master jedi to page four of sanity check in space.</h1>
    <p>We want to party, but this place is password protected, so we might as well give up.</p>
    <p class="rumble-hint">Ask the author</p>
    <form method="POST" action="/check_password">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>